<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <p class="navbar-brand">My Bootstrap Site</p>
    <ul class="nav navbar-nav navbar-right">
      <p class="navbar-text">Steven Hirschhorn</p>
    </ul>
  </div>
</nav>

<div class="container">

  <div class="alert alert-success" role="alert"><p>This is some alert message!</p></div>
  <div class="page-header">
    <h1>Subtitle</h1>
  </div>

  <ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="#">Home</a></li>
    <li role="presentation"><a href="#">Profile</a></li>
    <li role="presentation"><a href="#">Messages</a></li>
  </ul>

  <ol class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li><a href="#">Catagories</a></li>
    <li><a href="#">Shoes</a></li>
    <li class="active">Loafers</li>
  </ol>

  <div class="jumbotron">
    <h1>This is some title!</h1>
    <p class="lead">And this is some lead text</p>
  </div>

  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Panel title</h3>
    </div>

    <div class="panel-body">
      <p>Panel content</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6"><p>This is some text that is in a column, and should only take up half of the space.
    It should be inside a row div.</p></div>
    <div class="col-md-6"><p>This is some text that is in a column, and should only take up half of the space.
      It should be inside a row div.</p></div>
    </div>

    <div class="well">This is a well.</div>
      <div class="row">
        <div class="clearfix visible-xs-block"></div>
        <div class="col-md-4 text-right">This is some text that is in a column, and should only take up 1/3 of the space.
            It should be inside a row div.</div>
        <div class="col-md-4 text-center">This is some text that is in a column, and should only take up 1/3 of the space.
            It should be inside a row div.</div>
        <div class="col-md-4 text-left">This is some text that is in a column, and should only take up 1/3 of the space.
            It should be inside a row div.</div>
      </div>

    <table class="table table-striped table-bordered">
      <tr>
        <th>Name</th>
        <th>Age</th>
      </tr>
      <tr>
        <td>Joe Example</td>
        <td>34</td>
      </tr>
      <tr>
        <td>Sue Example</td>
        <td>27</td>
      </tr>
    </table>
</div>
